.banner {
  background-image: url("http://placekitten.com/1920/200");
  background-size: cover;
  padding: 12rem;
}

@media (max-width: 800px) {
  .banner {
    background-image: url("http://placekitten.com/800/100");
    padding: 5rem;
  }
}

.banner h1 {
  text-align: center;
  font-variant: small-caps;
}

.badges .row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.badges img {
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}

.row > p {
  text-align: center;
}

.infobox {
  padding: 2rem;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
}

.infobox * {
  text-align: center;
}

.infobox p {
  margin-bottom: 0;
  text-align: justify;
}

.infobox h2 {
  margin: auto;
}

@media (max-width: 550px) {
  .infobox {
    margin-bottom: 2rem;
  }
}

.info {
  padding: 8rem;
}

.footer {
  padding: 2rem;
  background-color: #444444;
  color: white;
}

.footer * {
  text-align: center;
}

.footer h3 {
  font-variant: small-caps;
}
